@import 'tailwindcss';

:root {
  font-family:
    'Iosevka', 'Maple Mono', 'Fira Code', 'Cascadia Code', 'Menlo', 'Sarasa Gothic SC',
    'Microsoft YaHei', 'PingFang SC';

  --color-theme: #478fe1;
  /* --color-theme: #00bd7e; */
  --color-theme-light: #478fe180;
  /* --color-theme-light: #00bd7e80; */

  input,
  textarea {
    @apply h-8 border-b-1 border-(--color-theme) focus:outline-none;
  }

  textarea {
    @apply h-8 resize-y border-b-1 border-(--color-theme) focus:outline-none;
  }

  button {
    @apply h-8 rounded border-1 border-(--color-theme) hover:cursor-pointer hover:bg-(--color-theme-light);
  }
}
